*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
ul.nav{
    width: 100%;
    background-color: #da135f;
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
ul li.nav{
    padding: 0% 3%; 
}
ul li.nav a{
    cursor: pointer;
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    color: antiquewhite;
    font-size: 1em;
}
ul li.nav:hover{
    background-color: #e60868;
    transition: 500ms ease-in-out;
}
a:active{
    color: #cc1162;
}
body.about{
    background-color: #1d1b1b;
    height: 100vh;
    overflow-x: hidden;

}
main.home{
    display: flex;
}
.me{
    width: 60%;
    height: 92.5vh;
    padding: 1% 3%;
}
h1{
    font-size: 3em;
    color: white;
    font-weight: 700;
    margin-bottom: 10%;
}
span.salute{
    color:#cc1162;
    font-size: 1.5em;
    padding: 1% 5%;
    position: relative;
}
span.salute::before{
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 36%;
    left: 2%;
    background-color: #cc1162;
}
h2.intro{
    font-size: 2.5em;
    color: #ffffff;
}
p.self{
    font-size: 1.5em;
    color: #cc1162;
    margin-bottom: 9%;
}
p.hobbies{
    color: #cc1162;
    font-size: 2em;
}
ul{
    list-style-type: square;
}
ul>li{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 1%;
}
a.contact{
    padding: 1% 5%;
    margin-top: 1%;
    background-color: #da135f;
    border-radius: 19px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    transition: 900ms all ease-in-out;
}
a.contact:hover{
    color: #da135f;
    background-color: #fff;
    box-shadow: 6px 3px 6px #000;
    /* transition: 900ms all ease-in-out; */
}
div.social{
    padding: 7% 15%;
}
a.social{
    color: #cc1162;
    text-decoration: none;
}
a.social:hover{
    color: #da135f;
    transition: 300ms ease-in-out;
}
div.social>span{
    color: #cc1162;
    font-weight: 900;
}
.picture{
    width: 40%;
    background-color: #312e2e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture img{
    width: 80%;
    height: 80%;
    box-shadow: 17px 17px 20px #150c0c;
    border-radius: 10px;
}
/* Contact Page */
h1.contact{
    font-size: 3em;
    color: white;
    font-weight: 700;
    margin-bottom: 4%;
    text-align: center;
}
main.contact{
    width: 100%;
    height: 100vh;
    background-color: #312e2e;
}
/* main.contact  */
form{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;    
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea,
input[type="submit"]{
    padding: 1% 2%; 
    width: 40%;
    margin-bottom: 2%;
    border-radius: 10px;
}
textarea{
    resize: none;
}
input[type="submit"]{
    color:#fff;
    font-size: large;
    background-color: #da135f;
    cursor: pointer;
    transition: 1000ms all ease-in-out;
    outline: 0;
    border: 0;
}
input[type="submit"]:hover{
    color: #da135f;
    background-color: #fff;
    box-shadow: 6px 3px 6px #000;
    transition: 900ms all ease-in-out;

}
/* Registration */

main.reg{
    width: 100%;
    scroll-behavior: smooth;
    background-color: #312e2e;
    height: 150vh;
}
main.reg header h1.reg{
    text-align: center;
    margin-bottom: 4%;
}
/* Login  */
 
main.login{
    background-color: #312e2e;
    height: 100vh;
}










